* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #ffffff;
  color: #111;
}

.wrapper {
  width: 100%;
  max-width: 90vw;
  margin: auto;
  padding: 5vh 0;
}

.hero {
  text-align: center;
  margin-bottom: 8vh;
}

.avatar {
  width: 30vw;
  max-width: 140px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-bottom: 2vh;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  font-weight: 600;
}

.subtitle {
  font-size: 0.9rem;
  opacity: 0.6;
}

/* LINKS */

.link-section {
  position: relative;
  min-height: 22vh;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.link {
  width: 100%;
  padding: 1.2em;
  text-decoration: none;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  font-size: 1rem;
  z-index: 2;
}

.glass {
  background: rgba(255,255,255,0.45);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 14px;
}

/* TORO */

.toro {
  position: absolute;
  top: 0;
  width: 28vw;
  max-width: 120px;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  opacity: 0;
  transition: all 1.2s ease;
}


/* izquierda */
.link-section.left .toro {
  left: 5%;
  transform: translateX(-40%);
}

/* derecha */
.link-section.right .toro {
  right: 5%;
  transform: translateX(40%);
}

/* visible */
.link-section.visible .toro {
  opacity: 1;
  transform: translateX(0);
}
